/* Mulis font url import */

@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,700;1,700&display=swap');

* {
  font-family: Mulish;
}

/* Primary-Orange-Color */

.primary-orange-color {
  color: #FF5400;
  left: 10px;
}

/* Aligns the items vertically in the center */

.header {

  display: flex;
  align-items: center;
  padding: 40px 240px;

}


.section-title {

  font-family: Mulish;
  font-weight: 800;
  font-size: 2.8rem;
  line-height: normal;
}


/* responsive nav bar */


nav ul li a:hover {
  color: #f39c12;
}




nav {
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  margin: 30px;
  font-weight: 500;
  font-size: 1rem;
}

nav a {

  font-weight: 400;
  font-size: 1.5rem;
  line-height: normal;
  text-align: center;
  color: #424247;
  text-decoration: none;

}

.banner {
  object-fit: cover;
  /* Ensures the image fills the container and crops if needed */

  background: center;
  background-repeat: no-repeat;
  background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);

}

.image-container {
  width: 100%;
  /* Container width */
  height: 300px;
  /* Set a specific height */
  overflow: hidden;
  /* Hides overflow if the image is cropped */
}



.input-container {
  display: flex;
  justify-content: center;

  margin-top: 5rem;
  gap: 1.5rem;


  background-color: rgba(245, 245, 247, 0.384);
  padding: auto;
  border-radius: 10px;
}

.input-field {
  position: relative;

}

.input-icon1 {
  position: absolute;
  top: 20px;
  right: 10px;
  color: black;

}

.input-icon {
  position: absolute;
  top: 20px;
  right: 10px;
  color: black;

}

.btn-primary {
  justify-content: center;

  border: none;
  width: 200px;
  height: 60px;
  display: flex;
  gap: 24px;
  background-color: #ffffff;
  margin: 0 auto;
  border-radius: 10px;

}

.icon-button {
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 60px;
  background-color: #ff5400;


}

.banner-content {

  width: 1200px;
  height: 500px;

  margin: 0px auto;


  border-radius: 10px;
  background-image: linear-gradient(to bottom, rgba(9, 2, 17, 0.5), rgba(197, 106, 10, 0.1));

}



.banner-title {
  text-align: center;

  margin-top: 50px;
  color: #FFFFFF;

  font-size: 3.5rem;

  font-weight: bold;

}

.banner-description {
  font-family: Mulish;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #131318;
}

.tour-container {
  gap: 100px;

  margin: 0 auto;
  display: flex;
  width: 1200px;
  justify-content: center;
}

.tour-title {

  display: flex;
  font-weight: 800;
  font-size: 3rem;
  line-height: normal;
  text-align: center;
  color: #131318;


}



.tour-image {
  margin-top: 80px;

}

/* Adjust the value as needed */
.tour-description {
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: #131318;
}

/* Choose section */
.title {
  font-family: Mulish;
  font-weight: 800;
  font-size: 40px;
  line-height: normal;
  text-align: center;
  color: #131318;
}

.choose-image-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;


}

.second-img {
  display: flex;
  gap: 30px;


}

.img-container {
  position: relative;

}

.img-title {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;
  line-height: normal;
}

/* box container */
.box {
  margin: auto;
  padding: 100px;
  display: flex;
  flex-wrap: wrap;
}


.box-title {

  font-weight: 800;
  font-size: 1.5rem;
  line-height: normal;

  color: #131318;
}

.box1 {
  gap: 30px;
  padding: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  width: 40%;
  height: 15rem;
  background-color: rgba(251, 182, 99, 0.2);
}

.box2 {
  padding: 50px;
  margin: 0 auto;
  gap: 30px;
  border-radius: 10px;
  width: 40%;
  height: 15rem;
  background-color: rgba(99, 190, 250, 0.2);
}

.box3 {

  margin: 0 500px;

  padding: 50px;
  border-radius: 10px;
  width: 50%;
  height: 15rem;
  background-color: rgba(240, 19, 20, 0.1);
}

.deal-container {
  display: flex;
  justify-content: center;
}

/* Deals Section */
.deal-image-container {

  position: relative;
  display: inline-flex;

  text-align: center;
  padding: 20px;
  margin: 0 auto;
}


.deal-title-box {

  position: absolute;
  right: 50px;
  margin-top: 50px;
  background-color: rgb(255, 255, 255);
  /* padding: 150px 100px; */
  width: 600px;
  height: 400px;
  opacity: 0.8;
  /* Adjust opacity for a slight transparency (optional) */
  border-radius: 20px;
}

.deal-box-title {

  gap: 30px;
  display: inline-flex;
  color: #5a5a5d;
  font-weight: 400;
  font-size: 1rem;


}

.deal-icon {
  gap: 10px;

}

.price {
  font-family: Mulish;

  font-weight: 800;
  font-size: 20px;
  line-height: normal;
  color: #ff5400;
}

/* .deal-button{
   display: flex;
  justify-content: center;
  width: 210px;
height: 52px;
background-color: #ff5400;
font-family: Mulish;
font-weight: 30rem;
font-size: 1rem;

justify-content: center;
align-items: center;
color: #ffffff;
} */
.container {

  position: relative;
  height: 200px;
  /* Adjust as needed */
}

.button3 {
  color: #ffffff;
  background-color: #FF5400;
  border: none;
  width: 200px;
  height: 60px;
  display: flex;

  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 10px;
  font-size: larger;
}

/* vedio container */
li {

  font-weight: bolder;

}

.tour-description {
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: #131318;
}

.tour-container {

  text-align: center;
  align-items: center;
  gap: 100px;

  margin: 0 auto;
  display: flex;
  width: 1200px;
  justify-content: center;
}

.tour-title {

  display: flex;
  font-weight: 800;
  font-size: 3rem;
  line-height: normal;
  text-align: center;
  color: #131318;


}



.tour-image {
  margin-top: 80px;

}

/* vedio section end */

/* news section */

.input-box {
  padding: 20px;
  border-radius: 20px;
  margin: 100px auto;
  border: 2px solid orangered;
}

.news-box {
  margin-top: 100px;

  text-align: center;
  align-items: center;
  gap: 100px;

  margin: 0 auto;
  display: flex;
  width: 1200px;
  justify-content: center;
}

input {
border: none;
  width: 300px;
  margin: 50px auto;
  background-color: #F3F3F3;
  padding: 20px 20px;
  box-shadow: 2 10px rgba(214, 201, 201, 0.1);
  border-radius: 10px;
}




input[type="email"]:hover {
  background-color: #e7edee;

}

.discount-button {
  bottom: -200px;
  right: 400px;
  color: #ffffff;
  border: none;
  position: relative;
transform: rotate(-30deg);
  border-radius: 10px;
  font-size: larger;
  width: 324px;
  height: 120px;
  background-color: #ff5400;
}

.news-title{

font-weight: 800;
font-size: 32px;
line-height: normal;
color: #ffffff;
}
.news-container {
  display: inline-flex;

}
.sub-button{
  font-size: 2rem;
  color: #FFFFFF;
  border-radius: 10px;
  border: none;
  width: 393px;
height: 5rem;
background-color: #ff5400;
}

/* footer section */
.footer-title{
 margin-top: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Mulish;
  font-weight: 800;
  font-size: 2.8rem;

}
.footer {

  text-align: center;
  justify-content: center;
text-align: center;

 line-height: normal;
  width: 100%;
height: 502px;
background-color:rgba(31, 30, 29, 0.1);
}
.footer-icons{
  text-align: center;
 justify-content: center;
}
/* responsive media queries*/
/* mobile devices */
@media screen and (max-width: 576px) {

  header {
   padding: 20px;
  }
 
  nav,
 
  .header,
  .head,
  .tour-container,
   .choose-image-container,
   .container,
   .banner,
   .banner-content,
   .banner-description,
   .container {
   flex-direction: column;
  }

  .feature-img img
  {
   width: 90%;
   margin-left: 0;
  }
 .ten-year-badge{
  position: static;
  max-width: 300px;
 }
  .teams-img-container {
   grid-template-columns: 1fr;
  }
 
  .teams-content, .facts-card-container {
   padding-right: 20px;
   padding-left: 20px;
  }
  .facts-card-container{
   gap: 20px;
  }
 }
 
 /* tablet or medium devices */
 @media screen and (min-width: 576px) and (max-width:960px) {
  header {
   padding: 50px;
  }
 
  nav,
  .tour-container,
  .sponsors-img-container,
  .features {
   flex-direction: column;
  }
 }